{%extends "base.html" %}

{% block title %}About - Student quiz hub{% endblock %}
    
{% block content %}
    <h1>About Student Quiz Hub</h1>
    <p>Student Quiz Hub is a platform designed to help students test their knowledge and track their progress through quizzes..</p>
    <p>Our mission is to provide an engaging and interactive way for students to learn and improve their skills across various subjects.</p>
    <p>Whether you're a student looking to practice or an educator seeking a tool to assess
    <p><a href="{{url_for("home")}}">Back to Home</a></p>

</p></a></p>    
{% endblock %}