{% extends "base.html" %}

{% block content %}

<div class="container">

    <div class="row justify-content-center mt-5">

        <div class="col-md-5">

            <div class="card p-4">

                <div class="text-center mb-4">

                    <div style="font-size: 50px;">
                        👩‍💻
                    </div>

                    <h3 class="fw-bold text-primary">
                        Admin Login
                    </h3>

                    <p class="text-muted">
                        Only admin can add students
                    </p>

                </div>

                <form method="POST">

                    <div class="mb-3">

                        <label class="form-label fw-semibold">
                            Username
                        </label>

                        <input
                            type="text"
                            name="username"
                            class="form-control"
                            placeholder="Enter admin username"
                            required>

                    </div>


                    <div class="mb-3">

                        <label class="form-label fw-semibold">
                            Password
                        </label>

                        <input
                            type="password"
                            name="password"
                            class="form-control"
                            placeholder="Enter admin password"
                            required>

                    </div>


                    <button
                        type="submit"
                        class="btn btn-primary w-100">

                        🔐 Login as Admin

                    </button>

                </form>

            </div>

        </div>

    </div>

</div>

{% endblock %}