{% extends "base.html" %}

{% block content %}
<div class="container mt-4">
    <div class="card shadow">
        <div class="card-header bg-primary text-white">
            <h4>Edit Student</h4>
        </div>

        <div class="card-body">
            <form method="POST">
                <input type="text" name="name"
                       value="{{ student['name'] }}"
                       class="form-control mb-3">

                <input type="number" name="score"
                       value="{{ student['score'] }}"
                       class="form-control mb-3">

                <input type="number" name="attempts"
                       value="{{ student['attempts'] }}"
                       class="form-control mb-3">

                <button class="btn btn-success">
                    Update Student
                </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}